div {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}
p{
    font-size: 20px;
}
img {
    width: 150px; 
    height: 130px;
}

@media (max-width: 1024px) {
    p {
        font-size: 15px;
    }
    img {
        width: 130px;
        height: 110px;
    }
}
@media (max-width: 720px) {
    p {
        font-size: 12px;
    }
    img {
        width: 110px;
        height: 90px;
    }
}
@media (max-width: 360px) {
    p {
        font-size: 9px;
    }
    img {
        width: 90px;
        height: 70px;
    }
}