.logo {
    width: 150px;
    height: 130px;
}

img {
    width: 150px;
    height: 130px;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00c521;
    margin-bottom: 20px;
    width: 100%;
    background-color: rgb(233, 233, 233);
}
/* стили для формы */
form {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #6bc208;
    border-radius: 10px;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;   
}

label[for="activity"] {
    margin-top: 10px;
}

input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #60af06;
    margin-bottom: 20px;
    width: 70%;
    background-color: rgb(233, 233, 233);
}

input[type='radio'] {
    display: inline-block;
    margin-right: 5px;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background: linear-gradient(to right, #486d05, #2a8805);
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}
input[type="submit"]:hover {
    transform: scale(1.02);
    background: linear-gradient(to right, #486d05 10%, #2a8805 90%);
}

/* стили для результата */
#result {
    display: none;
    margin-top: 20px;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 40px;
}
h2 {
    margin-bottom: 10px;
}

/* стили для таблицы с БЖУ и калориями */
table {
    width: 40%;
    border-collapse: collapse;
    margin: auto;
}

th,td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

th {
    text-align: left;
}
header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
main {
    margin-top: 160px;
}
.menu-toggle {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ccc;
}

nav {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 20px;
    z-index: 9998;
}

nav ul.dropdown-menu {
    display: block;
    position: relative;
}

nav ul.dropdown-menu li {
    display: block;
    margin: 0;
}

nav ul.dropdown-menu li a {
    color: #fff;
    padding: 10px 20px;
    display: block;
}

nav ul.dropdown-menu li a:hover {
    background-color: #ccc;
    color: #000000;
}
  
nav {
    display: flex;
    justify-content: flex-end;
    position: static;
    background-color: transparent;
    padding: 0;
}

@media (max-width: 1024px) {
    .logo {
        width: 130px;
        height: 110px;
    }
    img {
        width: 130px;
        height: 110px;
    }
    select {
        margin-bottom: 15px;
    }
    form {
        max-width: 550px;
    }
    input[type="submit"] {
        font-size: 15px;
    }
    #result {
        margin-top: 15px;
    }
    h1 {
        font-size: 35px;
    }
    header {
        height: 75px;
    }
    main {
        margin-top: 145px;
    }
    .menu-toggle {
        font-size: 20px;
    }
    nav ul li {
        margin-left: 16px;
    }
    nav {
        top: 55px;
    }
}
@media (max-width: 720px) {
    .logo {
        width: 110px;
        height: 90px;
    }
    img {
        width: 110px;
        height: 90px;
    }
    select {
        margin-bottom: 12px;
    }
    form {
        max-width: 400px;
    }
    input[type="submit"] {
        font-size: 12px;
    }
    #result {
        margin-top: 12px;
    }
    h1 {
        font-size: 30px;
    }
    header {
        height: 60px;
    }
    main {
        margin-top: 130px;
    }
    .menu-toggle {
        font-size: 15px;
    }
    nav ul li {
        margin-left: 12px;
    }
    nav {
        top: 40px;
    }
}
@media (max-width: 360px) {
    .logo {
        width: 90px;
        height: 70px;
    }
    img {
        width: 90px;
        height: 70px;
    }
    select {
        margin-bottom: 9px;
    }
    form {
        max-width: 250px;
    }
    input[type="submit"] {
        font-size: 9px;
    }
    #result {
        margin-top: 9px;
    }
    h1 {
        font-size: 25px;
    }
    header {
        height: 45px;
    }
    main {
        margin-top: 115px;
    }
    .menu-toggle {
        font-size: 10px;
    }
    nav ul li {
        margin-left: 8px;
    }
    nav {
        top: 25px;
    }
}